/* utility */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  color: #a3a3a3;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  max-width: 1300px;
  min-width: 600px;
  margin: auto;
}

.column {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
}

.bold {
  font-weight: bolder;
}

.black {
  color: black;
}


/* header */

.banner {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.logo {
  width: 180px;
  margin-top: 0px;
  display: block;
  margin-bottom: 30px;
  padding-right: 10px;
  border-right: 1px solid lightgray;
}


/* MENU */

nav ul li {
  display: inline-block;
  padding-right: 15px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
  color: black;
}


/* JUMBO */

.jumbotron {
  height: 450px;
  margin-bottom: 20px;
  background-image: url(../IMG/banner.jpg);
  background-position: center;
  border-radius: 10px;
  background-size: cover;
  overflow: hidden;
  color: white;
}

.jumbotron .text-jumb {
  padding-top: 25%;
  padding-left: 50px;
}

.text-jumb h2, .text-jumb p {
  width: 50%;
}


/* main */


.title p {
  margin-bottom: 20px;
}

/* COLONNE */

.col-sx {
  width: 20%;
  margin-right: 2%;
}

.col-center {
  width: 56%;
}

.col-dx {
  width: 20%;
  margin-left: 2%;
}

.img-col {
  width: 100%;
  height: 200px;
  background-position: center;
  border-radius: 20px;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 10px;
}

.col-sx .img-col {
  background-image: url(../IMG/img-1.jpg);
}

.col-center .img-col {
  background-image: url(../IMG/banner-2.jpg);
}

.col-dx .img-col {
  background-image: url(../IMG/img-3.jpg);
}

h5{
  margin-bottom: 10px;
}


/* footer */

.foot {
  margin: 20px;
  text-align: center;
}

footer div::after {
  content: ' \2764';
  color: red;
  font-size: 20px;
}




